.swipe {
  background-color: $kaki;
}

.swipe-form {
  background-color: $sable;
  width: 300px;
  margin-right: 30px;
  box-shadow: 7px 4px 29px 9px rgba(0, 0, 0, 0.25);
}

.central-elements {
  display: flex;
  margin: 15px auto 35px auto;
  padding-top: 50px;
  height: 105vh;
  align-items: baseline;
  align-content: center;
  flex-wrap: wrap;

}

.dashboard-button {
  margin-left: 250px;
}

.pointer {
  cursor: pointer;
  color: $navy;
}
