body, html {
  background-color: #5B6C50;
  margin: 0;
  padding: 0;
  height: 100%;
}

.swipe {
  background-color: $kaki;
}

// ---- form  ----
.swipe-form {
  background-color: $sable;
  width: 300px;
  box-shadow: 7px 4px 29px 9px rgba(0, 0, 0, 0.25);
}

.search-dropdown {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  input:checked + label {
    background-color: $navy;
    color: $sable;
  }

  label {
    color: $navy;
  }
}

.search-dropdown-active {
  height: fit-content;
}

// ---- Cards + bouton ----

.central-elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.pointer {
  cursor: pointer;
  color: $navy;
  font-size: 50px;
  margin: 0 10px;
}



.dashboard-button {
  margin-left: 40px;
}

// --- Effet de swipe ---

.card-to-right {
  animation-duration: 1s;
  animation-name: right-direction;
}

@keyframes right-direction {
  from {
    translate: 0 0;
  }

  to {
    translate: 150vw 0;
  }
}

.card-to-left {
  animation-duration: 1s;
  animation-name: left-direction;
}

@keyframes left-direction {
  from {
    translate: 0 0;
  }

  to {
    translate: -150vw 0;
  }
}
