.btn {
  color: $sable;
  padding: 8px 8px;
  border-radius: 4px;
  background: #121A25;
  transition: background 0.3s ease;
  font-family: "Bowlby One SC";
  letter-spacing: 1.17px;
  font-size: 13px;
}

.btn-sm {
  font-size: 10px;
}

.btnshow {
letter-spacing: 1.5px;
white-space: nowrap;
}
