.btn {
  color: $sable !important;
  padding: 8px 8px;
  border-radius: 4px;
  background: $navy !important;
  transition: background 0.3s ease;
  font-family: "Bowlby One SC";
  letter-spacing: 1.17px;
  font-size: 13px;
}

.btn-sm {
  font-size: 10px;
}

.btnshow {
letter-spacing: 1.17px;
white-space: nowrap;
font-size: 12px;
}
