.navbar-lewagon {
  justify-content: space-between;
  background: $navy;
  padding: 10px 50px;
  height: 60px;
  

  a{
    color: $sable;
    font-family: "Oxygen";
    font-size: 14px;
  }

  i{
    font-size: 25px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
