/* Style pour les boutons avec icônes uniquement */
.btn i {
  font-size: 18px; /* Augmenter la taille des icônes */
  margin-right: 0px; /* Retirer l'espace entre l'icône et le texte */
}

/* Styles supplémentaires pour les boutons */
.btn-success, .btn-danger {
  width: 50px;  /* Ajuste la taille des boutons */
  height: 50px; /* Ajuste la taille des boutons */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-mini-card {
  background-color: white;
  border-radius: 10px;
  width: 130px;
  height: 200px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

  .mini-card {
    display: flex;
    width: 637px;
    height: 550px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid var(--Border-borderOpaque, #E2E2E2);
    background: var(--Background-backgroundPrimary, #FFF);
    // box-shadow: 5px 7px 7px 5px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(0.5px);
    margin-top: 6px;
  }


  img {
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 0px solid #000;
    // background: url(<path-to-image>) lightgray 1.368px -37.72px / 100% 130.328% no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    object-fit: cover;
  }
}
