.mission-mini-card-orga {
  background-color: white;
  border-radius: 10px;
  width: 160px;
  height: 240px; // plus de place
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  img {
    width: 46px;
    height: 46px;
    border-radius: 12px;
    object-fit: cover;
  }

}

.participation-line-mission {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 9px;
}
