.first-section {
  background-color: #CED3CA;
  padding: 20px;
  border-radius: 10px;
}

.second-section {
  background-color: #5B6C50;
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
}


